<div class="flex gap-x-4 py-2 lg:px-6 border-b border-gray-200 w-full">
    <div class="w-full min-h-[150px] flex items-center gap-x-4">
        <div class="w-full flex flex-row items-center">
            <div class="w-full flex flex-col">
                <div class="ml-2 mb-2 flex justify-between">
                    <a class="tex-sm uppercase font-medium max-w-[240px] hover:underline">
                        Order: {{order().ordernumber}}
                    </a>                    
                </div>
                <div class="ml-2 flex gap-x-2 h-[36px] text-sm">
                    <div class="flex flex-1 max-w-[100px] items-center h-full border font-medium">
                        <div class="h-full flex justify-center items-center px-2">
                            Status: {{ order().status }}
                        </div>
                    </div>
                    <div class="flex-1 flex items-center justify-around">
                        Date: {{ order().date }}
                    </div>
                    <div class="flex-1 flex justify-end items-center font-medium">
                        Total $ {{ order().total | number: '1.2-2' }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
