<div (click)="displayOrderDetails()" class="flex-1 bg-primary p-6 xl:p-8 rounded-lg flex flex-col justify-center cursor-pointer">
    <div class="uppercase text-accent text-lg font-medium mb-2">
        {{ order().status }}
    </div>
    <h2 class="h2 mb-4">
        Order: {{order().ordernumber}}
    </h2>
    <p class="mb-6">
       {{ order().date | date:'medium'}}
    </p>
    <div class="flex items-center gap-x-8">
        <div class="text-3xl text-accent font-semibold">
            $ {{ order().total | number: '1.2-2' }}
        </div>
    </div>
</div>
