<div class="hidden xl:flex">
    <div class="bg-primary flex flex-col w-[286px] h-[500px] rounded-[8px] overflow-hidden">
        <div class="bg-accent py-4 text-primary uppercase flex font-semibold items-center justify-center">
            Browse Categories
        </div>
        <div class="flex flex-col gap-y-6 p-6">
            <div class="uppercase cursor-pointer" *ngFor="let type of catalogTypes()" (click)="scrollToTop()">
                <a [routerLink]="['/products', type.id]" >{{type.type}}</a>
            </div>
        </div>
    </div>
</div>