
<div id="unity-container" class="relative h-screen flex flex-row justify-center overflow-hidden">
    <canvas id="unity-canvas" class="h-[56.25.vw] w-full" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <div id="unity-warning"> </div>
    <div id="unity-footer">
      <div id="unity-webgl-logo"></div>
      <div id="unity-fullscreen-button"></div>
      <div id="unity-build-title"></div>
    </div>
  </div>
