<div id="unity-container" class="relative h-screen flex flex-row justify-center overflow-hidden">
  <img (click)="fullScreen()" class="absolute bottom-10 right-0 p-6" src="assets/images/fullscreen-button.png" alt="full screen">
  <canvas id="unity-canvas" class="h-[56.25.vw] w-full" tabindex="-1"></canvas>
  <div id="unity-loading-bar">
    <img class="object-cover w-16 h-16 lg:w-24 lg:h-24 rounded-full border-2 border-zinc-800 mx-auto"
      src="assets/images/GerardAvatarWink.jpg" alt="avatar">
    <div id="unity-progress-bar-empty">
      <div id="unity-progress-bar-full"></div>
    </div>
  </div>
  <div id="unity-warning"> </div>
</div>