<div class="relative h-screen flex flex-row justify-center">
    <video aria-hidden="true" class="h-[56.25.vw] w-full object-cover brightness-[60%]" autoplay loop muted
        oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="assets/videos/space.mp4"> Your browser does not support the video tag.
    </video>
    <div class="absolute top-36 lg:top-28 bottom-0 h-full w-full transition-all">
        <div *ngIf="showText()" class="h2 flex justify-center lg:justify-normal text-center lg:text-left mx-6 md:mx-8">Try Me on mobile</div>
        <model-viewer
            alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum"
            class="h-3/4 w-full" src="assets/models/NeilArmstrong.glb" ar
            environment-image="assets/environments/moon_1k.hdr" poster="assets/models/NeilArmstrong.webp"
            shadow-intensity="1" camera-controls touch-action="pan-y">
            <button slot="ar-button"
                style="background-color: white; color: black; border-radius: 4px; border: none; position: absolute; top: 16px; right: 16px; padding: 4px; ">
                👋 Activate AR
            </button>
        </model-viewer>
    </div>
</div>