<div *ngIf="isOpen()" class="
    z-50
    transition 
    duration-300 
    bg-black 
    bg-opacity-80
    overflow-x-hidden 
    overflow-y-auto 
    fixed
    inset-0
    flex flex-col p-12">
    <section *ngIf="!itemLoaded()" class="h-screen flex justify-center items-center">
        Loading...
    </section>
    <section *ngIf="itemLoaded()" class="flex flex-col relative rounded-3xl p-6">
        <!-- close icon -->
        <div class="absolute top-0 right-0 cursor-pointer" (click)="modalService.close()">
            <ng-icon class="text-3xl transition" name="bootstrapXLg" />
        </div>
        <div class="container mx-auto">
            <div class="flex flex-col lg:flex-row gap-[30px] mb-[30px]">
                <div class="flex-1 lg:max-w-[40%] lg:h-[540px] grad rounded-lg flex justify-center items-center">
                    <img class="w-full max-w-[65%]" [src]="item().pictureUri" alt="">
                </div>
                <div class="flex-1 bg-primary p-12 xl:p-20 rounded-lg flex flex-col justify-center   ">
                    <div class="uppercase text-accent text-lg font-medium mb-2">
                        {{ item().catalogType.type }}
                    </div>
                    <h2 class="h2 mb-4">
                        {{ item().name }}
                    </h2>
                    <p class="mb-12">
                        {{ item().description }}
                    </p>
                    <div class="flex items-center gap-x-8">
                        <div class="text-3xl text-accent font-semibold">
                            $ {{ item().price | number: '1.2-2' }}
                        </div>
                        <button class="btn btn-accent" (click)="$event.stopPropagation(); addToCart()">
                            Add to cart
                        </button>
                    </div>

                </div>
            </div>
            <app-related-products [productTypeId]="item().catalogTypeId" />
        </div>
    </section>
</div>