<div class="pt-36 mb-8 mx-6 md:mx-8">
    <div class="flex flex-col gap-y-4 pb-6">
        <div routerLink="/orders" class="flex flex-row gap-x-4 items-center cursor-pointer">
            <ng-icon class="transition" name="bootstrapChevronLeft" />
            All Me Orders
        </div>
        <div class="h2 flex justify-center lg:justify-normal">
            Checkout
        </div>
    </div>
    <div class="flex w-full gap-[30px] flex-col lg:flex-row">
        <form id="payment-form" class="flex flex-col w-full max-w-[600px] gap-y-6">
            <div id="link-authentication-element">
                <!--Stripe.js injects the Link Authentication Element-->
            </div>
            <div id="payment-element">
                <!--Stripe.js injects the Payment Element-->
            </div>
            <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text" class="btn btn-accent min-w-[150px]">Pay now</span>
            </button>
            <div *ngIf="0 < paymentMessage().length" id="payment-message" class="hidden">{{ paymentMessage() }}</div>
        </form>
        <div class="w-full flex flex-col gap-y-6">
            <app-order class="flex-1" [orderStatus]="order()" />
            <div class="flex flex-1 flex-col gap-y-10 px-2">
                <div *ngFor="let item of order().orderitems; index as i">
                    <app-order-item [product]="item" />
                </div>
            </div>
        </div>
    </div>    
</div>