<section class="mb-[30px]">
    <div class="mx-auto">
        <div class="flex flex-col xl:flex-row gap-x-[30px]">
            <!-- sidebar -->
            <app-category-nav />
            <!-- main slider -->
            <div class="w-full max-w-lg lg:max-w-[734px] mx-auto ">
                <app-main-slider />
            </div>
            <!-- promos -->
            <div class="flex flex-col gap-y-[30px] w-full max-w-lg mx-auto h-[500px] mt-12 xl:mt-auto">
                <!-- promo img 1 -->
                <div class="grad flex-1 h-[250px] rounded-[8px] overflow-hidden relative p-6">
                    <!-- text -->
                    <div class="flex flex-col max-w-[144px] h-full justify-center">
                        <div class="text-[20px] uppercase font-medium leading-tight mb-4">
                            Save 35% all mirrorless cameras
                        </div>
                        <a class="uppercase text-accent" href="#">Shop now</a>
                    </div>
                    <!-- image -->
                    <img class="absolute z-20 -top-2 -right-4" src="assets/images/promo_img1.png" alt="">
                </div>
                <!-- promo img 2 -->
                <div class="grad flex-1 h-[250px] rounded-[8px] overflow-hidden relative p-6">
                    <!-- text -->
                    <div class="flex flex-col max-w-[144px] h-full justify-center">
                        <div class="text-[20px] uppercase font-medium leading-tight mb-4">
                            Save 35% all DSLR cameras
                        </div>
                        <a class="uppercase text-accent" href="#">Shop now</a>
                    </div>
                    <!-- image -->
                    <img class="absolute z-20 top-4 -right-6" src="assets/images/promo_img2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>