<nav class="w-full fixed z-40 pt-2 transition duration-500 {{ showBackground() ? 'bg-zinc-900 bg-opacity-90' : '' }}">
    <div class="
        px-4
        md:px-16
        py-3
        flex
        flex-row
        items-center">
        <a href="/" class="absolute mt-1 md:mt-8">
            <img class="object-cover w-16 h-16 md:w-24 md:h-24 rounded-full border-2 border-zinc-800"
                src="assets/images/GerardAvatarPray.png" alt="avatar">
        </a>
        <!-- flex display will override hidden (aka display: none) when activated -->
        <div class="
            flex-row
            ml-8
            md:ml-32
            duration-500
            gap-6
            hidden
            md:flex">
            <app-navbar-item label="Catalog" href="/catalog" />
            <app-navbar-item label="3D" href="/3D" />
            <app-navbar-item label="Secure" href="/secure" />
        </div>

        <!-- Mobile -->
        <!-- hidden (aka display: none) will override flex display when activated -->
        <div (click)="setShowMobileMenu()"
            class="md:hidden flex flex-row items-center gap-2 ml-20 cursor-pointer relative">
            <p class="text-white text-sm">Browse</p>
            <ng-icon class="text-white transition {{ showMobileMenu() ? 'rotate-180' : 'rotate-0' }}"
                name="bootstrapChevronDown" />
            <app-mobile-menu [visible]="showMobileMenu()" />
        </div>
        <!--End Mobile-->

        <div class="flex flex-row ml-auto gap-7 items-center">
            <app-cart-status />
            <div class="text-gray-200 hover:text-gray-300 cursor-pointer transition">
                <ng-icon class="text-white transition" name="bootstrapSearch" />
            </div>
            <div class="text-gray-200 hover:text-gray-300 cursor-pointer transition">
                <ng-icon class="text-white transition" name="bootstrapBell" />
            </div>
            <button *ngIf="!isAuthorized()" (click)="login()" type="submit"
                class="bg-red-600 py-2 px-4 text-white rounded-md w-full hover:bg-red-700 transition">
                Login
            </button>
            <div *ngIf="isAuthorized()" (click)="setShowAccountMenu()" class="flex flex-row items-center gap-2 cursor-pointer relative">
                <div class="w-6 h-6 lg:w-10 lg:h-10 rounded-md overflow-hidden">
                    <img src="/assets/images/default-blue.png" alt="Profile">
                </div>
                <ng-icon class="text-white transition {{ showAccountMenu() ? 'rotate-180' : 'rotate-0' }}"
                    name="bootstrapChevronDown" />
                <app-account-menu [visible]="showAccountMenu()" />
            </div>
        </div>
    </div>
</nav>