<div *ngIf="isOpen()" (click)="modalService.close()" class="
    z-50 
    transition 
    duration-300 
    bg-black 
    bg-opacity-80 
    flex 
    justify-center 
    items-center 
    overflow-x-hidden 
    overflow-y-auto 
    fixed
    inset-0"> 
    <div (click)="$event.stopPropagation()" class="
        relative 
        w-full
        mx-auto 
        max-w-3xl 
        rounded-md 
        overflow-hidden">
        
        <div class="
            scale-100
            transform 
            duration-300 
            relative 
            flex-auto 
            bg-zinc-900 
            drop-shadow-md">

            <div class="relative h-96">
                <img *ngIf="null != item" [src]="item.pictureUri" alt="{{item.name}} image" class="
                    w-full 
                    brightness-[60%] 
                    object-cover 
                    h-full">
                <div (click)="modalService.close()" class="
                    cursor-pointer 
                    absolute 
                    top-3 
                    right-3 
                    h-10 
                    w-10 
                    rounded-full 
                    bg-black 
                    bg-opacity-70 
                    flex 
                    items-center 
                    justify-center">
                    <ng-icon class="text-white h-20 w-20" name="bootstrapXLg" />
                </div>
                <div class="absolute bottom-[10%] left-10">
                    <p class="
                        text-white
                        text-3xl
                        md:text-4xl
                        h-full
                        lg:text-5xl
                        font-bold
                        mb-80">
                        {{item.name}}
                    </p>
                    <div class="flex flex-row gap-4 items-center">
                        <app-button-add-to-cart [itemId]="item.id" />
                    </div>
                </div>
            </div>

            <div class="px-12 py-8">
                <p class="text-green-400 font-semibold text-lg">
                    New
                </p>
                <p class="text-white text-lg">
                    {{item.price | currency : 'USD' : true}}
                </p>
                <p class="text-white text-lg">
                    {{item.description ?? 'description'}}
                </p>
                <p class="text-white text-lg">
                    {{item.catalogType ?? 'type'}}
                </p>
                <p class="text-white text-lg">
                    {{item.catalogBrand ?? 'brand'}}
                </p>
            </div>

        </div>

    </div>
</div>