<div class="pt-36 mb-8 mx-6 md:mx-8 flex flex-col gap-y-5">
    <div class="h2 flex justify-center lg:justify-normal text-center lg:text-left">Privacy</div>
    <p class="text-white">
        This application is for demonstration purposes only. Data is not collected or used in any marketing, advertising
        or for any other nefarious purposes. We really don't want your data. Use fake data wherever possible if it makes you 
        feel better. When using social logins, for example Google or Microsoft, the integration is configured with the minimal
        authentication just to demonstrate the login process.
    </p>
    <p>
        We provide no services and, therfore, offer no terms. All shopping experiences are fake and will not result in
        any purchase delivery or charges. Enjoy browsing and clicking around.
    </p>
</div>