<Section id="about"
    class="relative mt-10 pb-20 px-10 large:p-[4.5rem] xlarge:p-[4.5rem] 2xlarge:p-[4.5rem] medium:p-8 small:p-8 medium:p-8 small:p-8 overflow-hidden">
    <!-- Section Title -->
    <div class="relative flex text-center mb-12 ">
        <h2 class="small:text-6xl font-roboto text-9xl text-gray-200 uppercase w-full font-semibold">
            IT'S NOT YOU
        </h2>
        <p class="text-4xl absolute w-full self-center font-roboto font-medium">
            About Me
            <span class="w-20 border-b-4 border-blue-500 block mr-auto ml-auto"></span>
        </p>
    </div>
    <!-- End of Section Title -->

    <div class="flex flex-col items-center lg:flex-row">
        <div class="w-full text-center sm:w-3/4 lg:w-3/5 lg:text-left">
            <h2 class="font-roboto font-medium text-3xl">
                I'm
                <span class="text-blue-500">Gerard Crockenberg,</span>
                a Full Stack Developer
            </h2>
            <p class="pt-6 font-body leading-relaxed text-grey-20">They say a picture is worth a thousand words. Me is designed to 
                answer a question often asked of Me, "What is it exactly that you do?"
            </p>
            <p class="pt-6 font-body leading-relaxed text-grey-20">Diving into Me sheds light on that subject.</p>
        </div>
        <div class="w-full pl-0 pt-10 sm:w-3/4 lg:w-2/5 lg:pl-12 lg:pt-0">
            <div>
                <div class="flex items-end justify-between border-b-2 border-grey-900 pb-2">
                    <h4 class="font-body font-semibold text-black">
                        Name: Gerard Crockenberg
                    </h4>
                </div>
            </div>
            <div class="flex items-end justify-between pt-2 pb-2 border-b-2 border-grey-900">
                <h4 class="font-body font-semibold text-black">
                    Email: gcrockenberg@hotmail.com
                </h4>
            </div>

            <div class="flex items-end justify-between pt-2 pb-2 border-b-2 border-grey-900">
                <h4 class="font-body font-semibold text-black">
                    From: New Jersey, USA
                </h4>
            </div>

            <div class="pt-2">
                <!-- <button
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                    </svg>
                    <span>Download Resume</span>
                </button> -->
            </div>
        </div>
    </div>
</Section>
