<div class="pt-36 mb-8 mx-6 md:mx-8 flex flex-col gap-y-5">
    <div class="h2 flex justify-center lg:justify-normal text-center lg:text-left">Privacy</div>
    <p class="text-white">
        This application is for demonstration purposes only. Data is not collected or used in any marketing, advertising
        or for any other nefarious purposes. We really don't want your data. Use fake data wherever possible if it makes
        you
        feel better. When using social logins, for example Google or Microsoft, the integration is configured with the
        minimal
        authentication just to demonstrate the login process.
    </p>
    <div class="h2 flex justify-center lg:justify-normal text-center lg:text-left">How Me uses your information</div>
    <p>
        Me may use your information to provide, administer, analyze, manage, and operate our Service. For example, we
        use your information for the following purposes:
    </p>
    <ul>
        <li>Provide our products and deliver our services including troubleshooting, improving, and personalizing the
            features on the Service.</li>
        <li>Business operations such as billing, accounting, improving our internal operations, securing our systems,
            detecting fraudulent or illegal activity, and meeting our legal obligations.</li>
        <li>Improve and develop our products and services including to develop new services or features, and conduct
            research.</li>
        <li>Personalization of our Service by understanding you and your preferences to enhance your experience and
            enjoyment using our Service.</li>
        <li>Provide customer support and respond to your questions.</li>
        <li>Send you information, including confirmations, technical notices, updates, security alerts, support and
            administrative messages.</li>
    </ul>
    <div class="h2 flex justify-center lg:justify-normal text-center lg:text-left">How Me share the information
        collected</div>
    <p>
        Data is not shared. Me is a technology demonstration. There is no coordiantion or sharing arrangement with any
        other party for any reason. Me is not used as a source for integration with any other organization.
    </p>
    <div class="h2 flex justify-center lg:justify-normal text-center lg:text-left">Terms of service</div>
    <p>
        We provide no services and, therfore, offer no terms. All experiences are fake for demonstration purposes only
        and will not result in
        any purchase delivery or charges. Enjoy browsing and clicking around.
    </p>
</div>
