<div class="pt-36 mb-8 mx-6 md:mx-8">
    <section *ngIf="!itemLoaded()" class="h-screen flex justify-center items-center">
        Loading...
    </section>
    <section *ngIf="itemLoaded()" class="flex flex-col relative rounded-3xl">
        <div class="flex flex-col gap-[30px]">
            <div class="flex flex-col lg:flex-row gap-[30px]">
                <app-category-nav />
                <div class="flex-1 lg:max-w-[40%] grad rounded-lg flex justify-center items-center">
                    <img class="w-full lg:max-w-[40%]" [src]="item().pictureUri" alt="">
                </div>
                <div class="flex-1 bg-primary p-12 xl:p-20 rounded-lg flex flex-col justify-center   ">
                    <div class="uppercase text-accent text-lg font-medium mb-2">
                        {{ item().catalogType.type }}
                    </div>
                    <h2 class="h2 mb-4">
                        {{ item().name }}
                    </h2>
                    <p class="mb-12">
                        {{ item().description }}
                    </p>
                    <div class="flex items-center gap-x-8">
                        <div class="text-3xl text-accent font-semibold">
                            $ {{ item().price | number: '1.2-2' }}
                        </div>
                        <button class="btn btn-accent" (click)="addToCart()">
                            Add to cart
                        </button>
                    </div>

                </div>
            </div>
            <app-related-products [productTypeId]="item().catalogTypeId" />
        </div>
    </section>
</div>
<app-catalog-item-modal />