<div *ngIf="visible" class="bg-black w-56 absolute top-8 left-0 py-5 flex-col border-2 border-gray-800 flex">
    <div class="flex flex-col gap-4">

        <div class="px-3 text-center text-white hover:underline">
            <a routerLink="catalog" routerLinkActive="underline" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Catalog</a>
        </div>
        <div class="px-3 text-center text-white hover:underline">
            <a routerLink="3D" routerLinkActive="underline" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">3D</a>
        </div>
        <div class="px-3 text-center text-white hover:underline">
            <a routerLink="secure" routerLinkActive="underline" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Secure</a>
        </div>
        
    </div>
</div>
