<div class="w-full bg-white fixed top-0 h-full shadow-2xl md:w-[35vw] xl:max-w-[30vw]
            transition-all duration-300 z-50 px-4 lg:px-[35px]
            {{ isOpen() ? 'right-0' : '-right-full' }}">

    <!-- Header -->
    <div class="flex items-center justify-between py-6 border-b">
        <div class="uppercase text-sm font-semibold">
            Shopping Cart ({{ totalItemCount() }})
        </div>

        <!-- icon -->
        <div class="cursor-pointer w-8 h-8 flex justify-center items-center">
            <ng-icon (click)="handleClose()" class="text-2xl" name="bootstrapChevronRight" />
        </div>
    </div>

    <!-- Cart items -->
    <div class="flex flex-col gap-y-2 h-[520px] lg:h-[640px] overflow-y-auto overflow-x-hidden border-b">
        <div *ngFor="let item of cart().items; index as i">
            <app-cart-item [product]="item" [index]="i" (onRemoveItem)="removeItem($event)"
                (onIncreaseQuantity)="increaseQuantity($event)" (onDecreaseQuantity)="decreaseQuantity($event)" />
        </div>
    </div>

    <!-- Bottom -->
    <div class="flex flex-col gap-y-3 py-4">
        <div class="flex w-full justify-between items-center">
            <!-- Total -->
            <div>
                <div class="uppercase font-semibold flex justify-between">
                    <span class="mr-2 w-16 inline-block">Total:</span> $ {{ totalPrice() | number: '1.2-2' }}
                </div>
            </div>
            <div class="cursor-pointer py-4 bg-red-500 text-white w-12 h-12 flex justify-center items-center text-xl"
                (click)="clearCart()">
                <ng-icon name="bootstrapTrash3" />
            </div>
        </div>
        <a routerLink="/cart" routerLinkActive="underline" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}" 
           class="bg-gray-200 flex p-4 justify-center items-center text-primary w-full font-medium">
            View cart
        </a>
        <a (click)="handlePayment()"
           class="bg-black flex p-4 justify-center items-center text-white w-full font-medium">
            Checkout
        </a>
        <!-- <a routerLink="/checkout" routerLinkActive="underline" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}"
           class="bg-black flex p-4 justify-center items-center text-white w-full font-medium">
            Checkout
        </a> -->
    </div>
</div>