<div class="flex gap-x-4">
    <img class="h-[100px] w-[100px] object-contain" [src]="item().pictureUrl" alt="Product image">
    <div class="flex-1">
        <div class="flex justify-between gap-x-4 mb-3">
            <a class="">
                {{ item().productName }}
            </a>
        </div>

        <div class="flex items-center gap-x-12">
            <!-- quantity and price -->
            <div class="flex gap-x-4">
                Quantity: {{ item().units }}
            </div>
            <!-- subtotal -->
            <div class="text-accent text-xl">
                $ {{ (item().units * item().unitPrice) | number: '1.2-2' }}
            </div>
        </div>

        <!-- unit price -->
        <div class="">
            <span class="text-accent">
                $ {{ item().unitPrice | number: '1.2-2' }} ea.
            </span>
        </div>

    </div>
</div>