<div class="w-full py-20 border-t">
    <div class="max-w-container mx-auto grid grid-cols-1 md:grid-cols-2  xl:grid-cols-6 px-4 gap-10">
        <div class="col-span-2">
            <app-footer-list-title title="Me footer" />
            <div class="flex flex-col gap-6">
                <p class="text-base w-full xl:w-[80%]">
                    Needs a soccer ...
                </p>
                <ul class="flex items-center gap-2">
                    <a href="https://www.youtube.com" target="_blank" rel="noreferrer">
                        <li class="w-7 h-7 hover:text-white cursor-pointer text-lg rounded-full flex justify-center items-center hover:bg-black duration-300">
                            <ng-icon name="bootstrapYoutube" />
                        </li>
                    </a>
                    <a href="https://github.com/gcrockenberg" target="_blank" rel="noreferrer">
                        <li class="w-7 h-7 hover:text-white cursor-pointer text-lg rounded-full flex justify-center items-center hover:bg-black duration-300">
                            <ng-icon name="bootstrapGithub" />
                        </li>
                    </a>
                    <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
                        <li class="w-7 h-7 hover:text-white cursor-pointer text-lg rounded-full flex justify-center items-center hover:bg-black duration-300">
                            <ng-icon name="bootstrapFacebook" />
                        </li>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank" rel="noreferrer">
                        <li class="w-7 h-7 hover:text-white cursor-pointer text-lg rounded-full flex justify-center items-center hover:bg-black duration-300">
                            <ng-icon name="bootstrapLinkedin" />
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div>
            <app-footer-list-title title="Shop" />
            <ul class="flex flex-col gap-2">
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Accessories
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Clothes
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Electronics
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Home appliances
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    New Arrivals
                </li>
            </ul>
        </div>
        <div>
            <app-footer-list-title title="Your account" />
            <ul class="flex flex-col gap-2">
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Profile
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Orders
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Addresses
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Account Details
                </li>
                <li
                    class="font-titleFont text-base text-lightText hover:text-black hover:underline decoration-[1px] decoration-gray-500 underline-offset-2 cursor-pointer duration-300">
                    Payment Options
                </li>
            </ul>
        </div>
        <div class="col-span-2 flex flex-col items-center w-full px-4">
            <app-footer-list-title title="Subscribe to Me newsletter" />
            <div class="w-full">
                <p class="text-center mb-4">
                    A at pellentesque et mattis porta enim and stuff.
                </p>
                <p *ngIf="subscription()"
                    class="w-full text-center text-base font-titleFont font-semibold text-green-600">
                    You did it!
                </p>
                <div *ngIf="!subscription()"
                    class="w-full flex-col xl:flex-row flex justify-between items-center gap-4">
                    <div class="flex flex-col w-full">
                        <input (value)="emailInfo"
                            class="w-full h-12 border-b border-gray-400 bg-transparent px-4 text-primeColor text-lg placeholder:text-base outline-none"
                            autocomplete="email" 
                            id="email"
                            type="email" placeholder="Enter email ..." />
                        <!-- {errMsg && (
                  <p className="text-red-600 text-sm font-semibold font-titleFont text-center animate-bounce mt-2">
                    {errMsg}
                  </p>
                )} -->
                    </div>
                    <button (click)="handleSubscription()"
                        class="text-lightText w-[30%] h-10 bg-gray-800 hover:bg-black hover:text-white duration-300 text-base tracking-wide">
                        Subscribe
                    </button>
                </div>

                <img class="w-[80%] lg:w-[60%] mx-auto {{ subscription() ? 'mt-2' : 'mt-6' }}"
                    src="assets/images/payment.png" alt="assets/images/payment.png" />
            </div>
        </div>
    </div>
</div>