<div class="group flex bg-zinc-900 col-span relative">
    <img [src]="item.pictureUri" alt="{{item.name}} image" class="
    cursor-pointer
    object-cover
    transition
    duration
    shadow-xl
    rounded-md
    group-hover:opacity-90
    sm:group-hover:opacity-0
    delay-200
    w-full
    ">
    <div class="
        opacity-0
        absolute
        top-0
        transition
        duration-200
        z-10
        invisible
        sm:visible
        delay-200
        w-full
        scale-0
        group-hover:scale-110
        group-hover:-translate-y-[6vw]
        group-hover:transalte-x-[2vw]
        group-hover:opacity-100">
        <img [src]="item.pictureUri" alt="{{item.name}} image" (click)="modalService.open('catalog-items-modal', item)"
            class="
                cursor-pointer
                object-cover
                transition
                duration
                shadow-xl
                rounded-t-md
                w-full
                h-[12vw]">
        <div class="
            z-10
            bg-zinc-800
            p-2
            lg:p-4
            absolute
            w-full
            transition
            shadow-md
            rounded-b-md">

            <div class="flex flex-row items-center gap-3">
                <div>
                    <button (click)="addToCart(item)" class="
                    bg-white
                    text-white
                    bg-opacity-30
                    rounded-md
                    py-1 md:py-2
                    px-2 md:px-4
                    w-auto
                    text-xs lg:text-lg
                    font-semibold
                    flex
                    flex-row
                    items-center
                    hover:bg-opacity-20
                    transition">
                        <ng-icon class="mr-1" name="bootstrapBagPlus" />
                        Cart
                    </button>
                    <p class="text-green-400 font-semibold mt-4">
                        New <span class="text-white">2023</span>
                    </p>

                    <div class="flex flex-row mt-4 gap-2 items-center">
                        <!-- https://en.wikipedia.org/wiki/ISO_4217 -->
                        <p class="text-white text-[10px] lg:text-sm">{{item.price |
                            currency:'CAD':'symbol-narrow':'1.2-2'}}</p>
                    </div>
                    <div class="flex flex-row mt-4 gap-2 items-center">
                        <p class="text-white text-[10px] lg:text-sm">{{item.name}}</p>
                    </div>
                    <div class="flex flex-row mt-4 gap-2 items-center">
                        <p class="text-white text-[10px] lg:text-sm">Description: {{item.description ?? 'undefined'}}
                        </p>
                    </div>
                    <div class="flex flex-row mt-4 gap-2 items-center">
                        <p class="text-white text-[10px] lg:text-sm">Type: {{item.catalogType.type}}</p>
                    </div>
                    <div class="flex flex-row mt-4 gap-2 items-center">
                        <p class="text-white text-[10px] lg:text-sm">Brand: {{item.catalogBrand.brand}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>