<div class="flex gap-x-6 items-center text-primary">
    <select class="w-full p-2 rounded-lg h-12 outline-none text-primary" name="" id="" [value]="value"
        (change)="handleSelectChange($event)">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10+</option>
    </select>
</div>